.form{
    background-image: url('../images/baby.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    float: left;
    margin: 2px;
    opacity: 1;
}
body{
    background-image: url('../images/Ghana.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: blue;
    margin: 10px;
}
#male{
    color: #fff76a;
}
.jumbotron{
    background-color:#fff76a;
}
.card{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/Akan.png');
}
h3{
    color: #fff76a;
}
.card-text{
    color: #eff8ff;
}
.description{
    color: black;
}
.card-link{
    color: #fff76a;
}
#copyright{
    text-align: center;
    float: center;
    font-size: 15px;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 2px 2px palevioletred;
}